In [1]:
print("ramu")

ramu

In [3]:
#1
#WAP to print the “hello world” for 5 times by using a while loop.
start=1
end=5
while start<=end:
    print("Hello World")
    start+=1

Hello World
Hello World
Hello World
Hello World
Hello World

In [2]:
#2
#WAP to print the number from 1 to 10 by using a while loop
start=1
end=10
while start<=end:
    print(start)
    start+=1

1
2
3
4
5
6
7
8
9
10

In [4]:
#3
#WAP to print the natural number until 1 to nth times by using a while loop
n=int(input())
start=1
end=n
while start<=end:
    print(start)
    start+=1

1
2
3
4
5

In [2]:
#4
#WAP to print the reverse of the natural number nth to 0 times by using a while loop
n=int(input())
start=1
end=n
while end>=start:
    print(end)
    end-=1

5
4
3
2
1

In [16]:
#5
#WAP to print the whole number until nth times by using a while loop.
n=int(input())
start=0
end=n
while start<=end:
    print(start)
    start+=1

0
1
2
3
4
5

In [3]:
#6
#WAP to print the reverse of the whole number until nth times by using a while loop.
n=int(input())
start=0
end=n
while end>=start:
    print(end)
    end-=1

10
9
8
7
6
5
4
3
2
1
0

In [20]:
#7
#WAP to print the even number until nth times by using a while loop.
n=int(input())
start=1
end=n
while start<=end:
    if start%2==0:
        print(start)
    start+=1

2
4
6
8
10

In [21]:
#8
#WAP to print reserve the even number until nth times by using a while loop.
n=int(input())
start=1
end=n
while end>=start:
    if end%2==0:
        print(end)
    end-=1

10
8
6
4
2

In [16]:
#9
#WAP to print the odd number until nth times by using a while loop
n=int(input())
start=1
end=n
while start<=end:
    if start%2!=0:
        print(start)
    start+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [23]:
#10
#WAP to print reserve the odd number until nth times by using a while loop
n=int(input())
start=1
end=n
while end>=start:
    if end%2!=0:
        print(end)
    end-=1

9
7
5
3
1

In [3]:
#11
#WAP to print the nth table 1 to 20, format ==> 5 * 1 = 5 to 5 * 20 = 100
n=int(input())
x=int(input())
start=1
while start<=x:
    res=n*start
    print(res)
    start+=1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [4]:
#12
#WAP to print the nth table 20 to 1, format ==> 5 * 20 = 100 to 5 * 1 = 5
n=int(input())
x=int(input())
start=1
while x>=start:
    res=n*x
    print(res)
    x-=1

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [5]:
#13
#WAP to print the numbers which are divisible by 3 from 25 to 66.
start=25
end=66
while start<=end:
    if start%3==0:
        print(start)
    start+=1

27
30
33
36
39
42
45
48
51
54
57
60
63
66

In [6]:
#14
#WAP to print the numbers which are divisible by 3 and 5 from 15 to 76.
start=15
end=76
while start<=end:
    if start%3==0 and start%5==0:
        print(start)
    start+=1

15
30
45
60
75

In [9]:
#15
#WAP to print the numbers which are divisible by 5 and 7 from 77 to 22
start=77
end=22
while end<=start:
    if end%5==0 and end%7==0:
        print(end)
    end+=1

35
70

In [12]:
#16
"""WAP to print the ”love you” if value is divisible by 3, or print “hate you” value is 
divisible by 5, to print “i like you” if divisible by 3 and 5, from 1 to 30."""
start=1
end=30
while start<=end:
    if (start%3==0 and start%5==0):
        print("i like you")
    elif start%3==0:
        print("Love you")
    elif start%5==0:
        print("hate you")
    start+=1

Love you
hate you
Love you
Love you
hate you
Love you
i like you
Love you
hate you
Love you
Love you
hate you
Love you
i like you

In [6]:
#17
#WAP to print sum of the 1 to nth natural numbers
n=int(input())
start=1
end=n
sum=0
while start<=end:
    sum=sum+start
    start+=1
print(sum)

6

In [11]:
#18
#WAP to print sum of the even numbers 1 to 20 numbers.
start=1
end=20
sum=0
while start<=end:
    if start%2==0:
        sum=sum+start
    start+=1
print(sum)

110

In [13]:
#19
#WAP to print products of the 1 to 6 numbers.
start=1
end=6
fact=1
while start<=end:
    fact=fact*start
    start+=1
print(fact)

720

In [15]:
#20
#WAP to count the no of odd values from 1 to 30 numbers.
start=1
end=30
count=0
while start<=end:
    if start%2!=0:
        count=count+1
    start+=1
print(count)

15

In [17]:
#21
#WAP to print the factors of the given number
n=int(input())
start=1
end=n
while start<=end:
    if end%start==0:
        print(start)
    start+=1

1
2
5
10

In [20]:
#22
#WAP to prod of the factors of the given number.
n=int(input())
start=1
end=n
fact=1
while start<=end:
    if end%start==0:
        fact=fact*start
    start+=1
print(fact)

100

In [13]:
#23
#WAP to print Fibonacci series 0 to nth
n=int(input())
start=0
end=1
sum=0
print(start,end)
while start<=n:
    sum=start+end
    start=end
    end=sum
    print(sum)

0 1
1
2
3
5
8
13

In [20]:
#24
#WAP to find out the factorial number of a given number.
n=int(input())
start=1
fact=1
while n>=start:
    fact=fact*n
    n-=1
print(fact)

120

In [ ]:
#25
#WAP to print the factorial numbers in the given range m to n.
n=int(input())
start=1
fact=1
while n>=start:
    fact=fact*n
    n-=1
print(fact)

In [23]:
#26
#WAP to check whether a given number is a prime number or not.
n=int(input())
start=1
end=n
count=0
while start<=n:
    if n%start==0:
        count+=1
    start+=1
if count==2:
    print("prime")
else:
    print("not prime")

prime

In [25]:
#27
#WAP to print the prime numbers in the given range m to n.
n=int(input())
start=1
end=n
count=0
while start<=n:
    if n%start==0:
        count+=1
    start+=1
if count==2:
    print("prime")
else:
    print("not prime")

prime

In [42]:
#28
#WAP to check whether a given number is an armstrong number or not
n=int(input())
res1=1
sum=0
t=n
while n:
    r=n%10
    res1=r*r*r
    sum+=res1
    n=n//10
print(sum)
if sum==t:
    print("amstrong")
else:
    print("not a amstrong")

371
amstrong

In [48]:
#29
#Write a program to print prime series 1 to nth
n=int(input())
start=1
count=0
while start<=n:
    if n%start==0:
        count+=1
    start+=1
if count==2:
    print("prime number")
else:
    print("not a prime number")

not a prime number

In [61]:
#30
#Write a program to print 1 to 100 prime numbers in fibonacci series
s=0
s1=1
end=100
sum=0
count=0
while s1<=end:
    sum=s+s1
    while s<=sum:
        if sum%s==0:
            count+=1
s+=1
if count==2:
    s=s1
    s1=sum
print(sum)

ZeroDivisionError: integer modulo by zero

In [31]:
#31
#WAP to the given number is palindrome or not.
n=1331
tem=n
m=0
while n:
    res=n%10
    m=m*10+res
    n=n//10
    print(res,end="")
print("\n")
if m==tem:
    print("pallindrome")
else:
    print("not a pallindrome")

1331

pallindrome

In [34]:
#32
"""WAP to check whether the length of the string is even or odd. If it is even, print 
that string 10 times. If it is not printed 5 times"""
n="shiva narayanaa"
start=1
end=len(n)
if len(n)%2==0:
    while start<=10:
        print(n)
        start+=1
else:
    while start<=5:
        print(n)
        start+=1

shiva narayanaa
shiva narayanaa
shiva narayanaa
shiva narayanaa
shiva narayanaa

In [7]:
#WAP to print the uppercase character from ‘A’ to ‘Z’ by using a while loop.
start=65
end=90
while start<=end:
    print(chr(start),end=" ")
    start+=1

a b c d

In [14]:
#WAP to print the lowercase character from ‘a’ to ‘z’ by using a while loop.
start=97
end=122
while start<=end:
    print(chr(start),end=" ")
    start+=1

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [24]:
#WAP to print the ascii numbers character from ‘0’ to ‘9’ by using a while loop.
start=0
end=9
while start<=end:
    print(chr(start),end=" ")
    start+=1

        

In [23]:
#WAP to print the uppercase character from ‘E’ to ‘U’ by using a while loop.
start=69
end=85
while start<=end:
    print(chr(start),end=" ")
    start+=1

E F G H I J K L M N O P Q R S T U

In [26]:
#WAP to print the uppercase character from ‘Z’ to ‘A’ by using a while loop.
start=65
end=90
while end>=start:
    print(chr(end),end=" ")
    end-=1

Z Y X W V U T S R Q P O N M L K J I H G F E D C B A

In [37]:
#WAP to print the uppercase character from ‘U’ to ‘G’ by using a while loop.
start='U'
s=ord(start)
end='G'
e=ord(end)
while s>=e:
    print(chr(s),end=" ")
    s-=1

U T S R Q P O N M L K J I H G

In [40]:
#WAP to print the lowercase character from ‘i’ to ‘y’ by using a while loop.
start='i'
s=ord(start)
end='y'
e=ord(end)
while s<=e:
    print(chr(s),end=" ")
    s+=1

i j k l m n o p q r s t u v w x y

In [41]:
#WAP to print the lowercase character from ‘z’ to ‘a’ by using a while loop.
start='z'
s=ord(start)
end='a'
e=ord(end)
while s>=e:
    print(chr(s),end=" ")
    s-=1

z y x w v u t s r q p o n m l k j i h g f e d c b a

In [42]:
#WAP to print the lowercase character from ‘p’ to ‘c’ by using a while loop
start='p'
s=ord(start)
end='c'
e=ord(end)
while s>=e:
    print(chr(s),end=" ")
    s-=1

p o n m l k j i h g f e d c

In [44]:
#WAP to print the uppercase characters based on even ascii values.
start="A"
s=ord(start)
end="Z"
e=ord(end)
while s<=e:
    if s%2==0:
        print(chr(s),end=" ")
    s+=1

B D F H J L N P R T V X Z

In [45]:
#WAP to print the lowercase characters based on even ascii values.
start="a"
s=ord(start)
end="z"
e=ord(end)
while s<=e:
    if s%2==0:
        print(chr(s),end=" ")
    s+=1

b d f h j l n p r t v x z

In [46]:
#WAP to print the uppercase characters based on odd ascii values
start="A"
s=ord(start)
end="Z"
e=ord(end)
while s<=e:
    if s%2!=0:
        print(chr(s),end=" ")
    s+=1

A C E G I K M O Q S U W Y

In [47]:
#WAP to print the lowercase characters based on odd ascii values.
start="a"
s=ord(start)
end="z"
e=ord(end)
while s<=e:
    if s%2!=0:
        print(chr(s),end=" ")
    s+=1

a c e g i k m o q s u w y

In [47]:
#WAP to count the number of vowels present in D to V
start="D"
s=ord(start)
end="V"
e=ord(end)
count=0
while s<=e:
    if chr(s) in ("AEIOU"):
        count+=1
    s+=1
print(count)

4

In [54]:
"""WAP to print the square of the number in between the range from m to n which 
is multiple of 3. WAP to print a number from range m to m which is divisible by 
5."""
start=int(input())
end=int(input())
while start<=end:
    if start%3==0 and start%5==0:
        res=start**2
    start+=1
print(res)

225

In [60]:
"""Write a program which takes an integer number and find the sum of digits and 
repeat until the sum gets a single digit in the end."""
n=5643
sum=0
while n:
    r=n%10
    sum+=r
    n=n//10
print(sum)
sum1=0
while sum:
    res1=sum%10
    sum1+=res1
    sum=sum//10
print(sum1)

18
9

In [23]:
#Write a program to count the numbers of 2’s between 0 and n
n=35
start=0
count=0
res=[]
while start<n:
    res.append(str(start))
    start+=1
    if "2" in res[start-1]:
        count=+1
print(res)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34']

In [14]:
n = 35
i = 0 
a = []
count = 0
while i<n:
    a.append(str(i))
    i+=1
    if "2" in a[i-1]:
        count +=1
print(count)

13

In [36]:
#WAP to print all the characters in a given string.
n="shiva narayan"
start=0
end=len(n)
while start<end:
    print(n[start],end=" ")
    start+=1

s h i v a   n a r a y a n

In [74]:
#WAP to print the uppercase characters in a given string
n="ShivA NaraYan"
start=0
end=len(n)
while start<end:
    if "A"<=n[start]<="Z":
        print(n[start],end=" ")
    start+=1

S A N Y

In [75]:
#WAP to print the lowercase characters in a given string.
n="ShivA NaraYan"
start=0
end=len(n)
while start<end:
    if "a"<=n[start]<="z":
        print(n[start],end=" ")
    start+=1

h i v a r a a n

In [76]:
#WAP to print the ascii numbers(Digits) characters in a given string.
n="shiva"
start=0
end=len(n)
while start<end:
    print(ord(n[start]))
    start+=1

115
104
105
118
97

In [85]:
#WAP to print the special characters in a given string.
n="S&hivA#Nar$aYan@"
start=0
end=len(n)
while start<end:
    if not("a"<=n[start]<="z" or "A"<=n[start]<="Z"):
        print(n[start],end="")
    start+=1

&#$@

In [89]:
#WAP to Print the vowels in a given string
n="shiva"
start=0
end=len(n)
while start<end:
    if n[start] in ("aeiou"):
        print(n[start])
    start+=1

i
a

In [90]:
#WAP to Print the consonants in a given string.
n="shiva"
start=0
end=len(n)
while start<end:
    if not(n[start] in ("aeiou")):
        print(n[start])
    start+=1

s
h
v

In [4]:
#WAP to print the reverse of the characters in a given string.
n="shiva narayana"
end=len(n)-1
start=0
while end>=start:
    print(n[end],end='')
    end-=1

anayaran avihs

In [2]:
#WAP to print even position values characters in a given string
n="shiva narayana"
start=0
end=len(n)
while start<end:
    if start%2==0:
        print(n[start],end=" ")
    start+=1

s i a n r y n

In [3]:
#WAP to print odd position values characters in a given string
n="shiva narayana"
start=0
end=len(n)
while start<end:
    if start%2!=0:
        print(n[start],end=" ")
    start+=1

h v   a a a a

In [1]:
'''i/p:’hello world’
o/p:’hll wrld’
o/p:’eoo’'''
n="hello world"
start=0
con=""
ows=''
while start<len(n):
    if n[start] in 'aeiouAEIOU':
        ows+=n[start]
    else:
        con+=n[start]
    start+=1

print(con)
print(ows)

hll wrld
eoo

In [27]:
#i/p:’12hello3 4world4
#o/p:’12344’
n="12hello3 4world4"
start=0
end=len(n)
res=""
while start<end:
    if "0"<=n[start]<="9":
        res+=n[start]
    start+=1
print(res)

12344

In [25]:
"""i/p:’(*12hello3$ $4#world4*)’
o/p:’(*$ $#*)"""
n="(*12hello3$ $4#world4*)"
start=0
end=len(n)
res=""
while start<end:
    if not("A"<=n[start]<="Z" or "a"<=n[start]<="z" or "0"<=n[start]<="9"):
        res+=n[start]
    start+=1
print(res)

(*$ $#*)

In [24]:
"""#I/p: ‘hello world 123 haii’
o/p:’eoo123aii’"""
n="hello world 123 haii"
res=""
start=0
while start<len(n):
    if n[start] in ("aeiouAEIOU") or "0"<=n[start]<="9":
        res+=n[start]
    """if  "0"<=n[start]<="9":
        res+=n[start]"""
    start+=1
print(res)

eoo123aii

In [42]:
"""I/p: ‘hello world 123 haii’
o/p:’eo o 123 aii’"""
n="hello world 123 haii"
start=0
res=""
while start<len(n):
    if n[start] in ("aeiouAEIOU") or "0"<=n[start]<="9":
        res+=n[start]
    if n[start]==" ":
        res+=" " 
    start+=1
print(res)

eo o 123 aii

In [45]:
"""I/p: ‘hello world 123 haii’
o/p:’eo o aii’"""
n="hello world 123 haii"
start=0
res=""
while start<len(n):
    if n[start] in ("aeiouAEIOU"):
        res+=n[start]
    """if not("0"<=n[start]<="9"):
        res+=n[start]"""
    if n[start]==" ":
        res+=" "
    start+=1
print(res)

eo o  aii

In [50]:
"""I/p: ‘hello world 123 haii’
o/p:’hll world haii’"""
n="hello world 123 haii"
start=0
res=""
while start<len(n):
    if not (n[start]=="e") or "0"<=n[start]<="9":
        res+=n[start]
    if n[start]==" ":
        res+=" "
    start+=1
print(res)

hllo  world  123  haii

In [2]:
"""i/p:’hello world’
o/p:’hll wrld’
o/p:’eoo’"""
n="hello world"
res=""
res1=""
start=0
while start<len(n):
    if n[start] in ("aeiouAEIOU"):
        res+=n[start]
    else:
        res1+=n[start]
    start+=1
print(res)
print(res1)

eoo
hll wrld

In [43]:
"""i/p:’12hello3 4world4’
o/p:’hll wrld’
o/p:’eoo’
o/p:’12344’"""
n="12hello3 4world4"
start=0
res=""
res1=""
res2=""
while start<len(n):
    if not(n[start] in ("aeiouAEIOU") or "0"<=n[start]<="9"):
        res+=n[start]
    if "0"<=n[start]<="9":
        res1+=n[start]
    if n[start] in ("aeiou"):
        res2+=n[start]
    start+=1
print(res)
print(res2)
print(res1)

hll wrld
eoo
12344

In [22]:
"""i/p:’(*12hello3$ $4#world4*)’
o/p:’hllwrld’
o/p:’eoo’
o/p:’12344’
o/p:’(*$ $#*)"""
n="(*12hello3$ $4#world4*)"
start=0
res=""#vow
res1=""#con
res2=""#num
res3=""#sp
while start<len(n):
    if not("a"<=n[start]<="z" or "A"<=n[start]<="Z" or "0"<=n[start]<="9"):
        res3+=n[start]
    elif  ("0"<=n[start]<="9"):
        res2+=n[start]
    elif n[start] not in ("aeiouAEIOU"):
        res1+=n[start]
    elif n[start] in ("aeiouAEIOU"):
        res+=n[start]

    start+=1
print(res)
print(res1)
print(res2)
print(res3)

eoo
hllwrld
12344
(*$ $#*)

In [32]:
"""i/p: ’(*12hello3$ $4#world4*)’
o/p: ')*#$ $*(,44321,ooe,dlrwllh'"""
n="(*12hello3$ $4#world4*)"
start=0
res=""
res1=""
res2=""
end=(len(n)-1)
while end>=start:
    if not("a"<=n[end]<="z" or "A"<=n[end]<="Z" or "0"<=n[end]<="9"):
        res+=n[end]
    if "0"<=n[end]<="9":
        res1+=n[end]
    if (n[end] in ("aeiouAEIOU")):
        res2+=n[end]
    end-=1
print(res+res1+res2)

)*#$ $*(44321ooe

In [78]:
"""I/p:’HELLOWORLD’
o/p:’h$ll*w*rld’"""
n="HELLOWORLD"
res=""
start=0
while start<len(n):
    if "A"<=n[start]<="Z":
        res+=(chr(ord(n[start])+32))
    start+=1
print(res)
start1=0
res1=""
while start1<len(res):
    if "a"<=res[start1]<="z":
        res1+=res[start1]
        if res[start1]=="e":
            res1+="$"
        start1+=1
    start+=1
print(res1)

helloworld
he$lloworld